<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ asset('vendor/css/font-awesome') }}">
    <link rel="stylesheet" href="{{ asset('vendor/css/bulma') }}">
    {% for library in libraries|default([]) %}
        <link rel="stylesheet" href="{{ asset('vendor/css/' ~ library) }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ asset('app/css/style') }}">
</head>

<body>
